.price-table .item-2.page {
    font-family: 'Noto Sans TC';
}

.page-template-portfolio .title {
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}

.page-template-portfolio .title-sub {
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
}

.bg-overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.txt-content {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.download-wrapper {}

.download-wrapper .download-box {
    display: inline-block;
    width: 220px;
    height: 60px;
    left: calc(50% - 110px);
    text-align: center;
}

.download-wrapper .download {
    display: inline-block;
    width: 180px;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: #fff;
}

.download-wrapper .download::before {
    content: url(./images/p4-s1-download.svg);
    font-size: 8px;
    position: relative;
    top: 8px;
    margin-right: 8px;
}

.column {
    display: flex;
    flex-wrap: wrap;
}

.column-3 .item {
    flex: 0 1 33%;
    padding: 16px;
}


.column-3 .item .icon-box {
    text-align: center;
    margin-bottom: 16px;
}

.column-3 .item .icon {
    display: inline-block;
    width: 64px;
}

.column-3 .item .item-name {
    color: #000;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.column-3 .item .desc {
    padding: 8px 20px;
    text-align: center;
}

.column-2 .item-1 {
    flex: 0 1 50%;
}

.column-2 .item-2 {
    flex: 0 1 50%;
}


.column-2-6_4 .item-1 {
    flex: 0 1 60%;
}

.column-2-6_4 .item-2 {
    flex: 0 1 40%;
}

ul.two-col {
    columns: 2;
    margin: 0 10px;
}

ul.three-col {
    columns: 3;
}

ul.four-col {
    columns: 4;
}

ul.item {
    list-style: none
}

ul.item>li {
    margin-bottom: 1.4em;
}

ul.item.theme-icon-red>li {
    max-width: 240px;
    text-align: center;
    border-radius: 16px;
    padding: 0 16px;
    background-color: var(--primary-color);
    color: #fff;
}

ul.item.theme-icon-red>li::before {
    content: none;
}

ul.item>li .item-name {
    display: inline-block;
}

ul.item.theme-red>li .item-name {
    display: inline-block;
}

ul.item>li::before {
    content: url('./images/li_arrow_black.svg');
    margin-right: 8px;

}

ul.item>li .desc {
    line-height: 1.2em;
    font-size: 16px;
    color: #333333;
}

ul.item.theme-red>li::before {
    content: url('./images/li_arrow_red.svg');
    margin-right: 8px;

}

/* 稅務會計 */

.p1-s1 {
    padding: 50px 0 12px 0;
}

.p1-s1 h1 {
    font-size: 36px;
    text-align: center;
}

.p1-s2 {
    text-align: center;
}

.p1-s3 {
    /* border: 1px solid red; */
}

.p1-s3 ul.item>li {
    height: 220px;
    padding: 8px 16px;
}

.p1-s3 ul.item>li .desc {
    padding: 16px 36px 0 0;
}

.p1-s3 ol {
    margin: 0;
}

.p1-s4 .content,
.p1-s5 .content {
    padding: 30px 0 50px 0;
}

.p1-s4 .title,
.p1-s5 .title {
    text-align: left;
    font-size: 24px;
    padding-left: 100px;
    color: #333333;
}

/* 我算算產品  */
.p4-s1 {
    position: relative;
    height: 480px;
    background-image: url(./images/p4-s1-bg.jpg);
    background-size: cover !important;
    background-position: center;
    text-align: center;
    color: #ffffff;
}

.p4-s1 .logo-wrapper {
    margin-top: 80px;
    text-align: center;
}

.p4-s1 .logo-box {
    height: 53px;
    background-image: url(./images/p4-s1-logo.png);
    background-repeat: no-repeat;
    background-position: center;

}

.p4-s1 .slogan {
    margin-top: 20px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
}

.p4-s1 .slogan-sub {
    font-size: 22px;
}

.p4-s1 .download-wrapper {
    margin-top: 70px;
    text-align: center;
}

.p4-s1 .download-box {
    display: inline-block;
    width: 220px;
    height: 60px;
    left: calc(50% - 110px);
    text-align: center;
}

.p4-s1 .download {
    display: inline-block;
    width: 180px;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: #fff;
}

.p4-s1 .download::before {
    content: url(./images/p4-s1-download.svg);
    font-size: 8px;
    position: relative;
    top: 8px;
    margin-right: 8px;
}

.p4-s1 .download a {
    color: #fff;
}

.p4-s1 .download a:hover {
    color: #fff;
}


/* 我算算產品 p4 section 2 */
.p4-s2 {
    height: 500px;
    padding: 60px;
    background-color: #f9f9f9;

}

.p4-s2 .title {
    color: #000;
}

.p4-s2 .title-sub {
    color: #333333;
}


.p4-s2 .item-1 .icon::after {
    content: url(./images/p4-s2-item1-icon.svg);
}

.p4-s2 .item-2 .icon::after {
    content: url(./images/p4-s2-item2-icon.svg);
}

.p4-s2 .item-3 .icon::after {
    content: url(./images/p4-s2-item3-icon.svg);
}

.p4-s3 {
    padding: 60px;
}

.p4-s3 .title {
    font-weight: 400;
}

.p4-s3 .title .em {
    font-weight: 600;
}

.p4-s3 .title-sub {
    padding: 0 60px;
    text-align: left;
}

.p4-s3 .item-1 {
    padding: 20px;
}

.p4-s3 .item-2 .img-box {
    width: 100%;
    min-height: 450px;
}

.p4-s3 .p4-s3-img {
    min-width: 100%;
    min-height: 400px;
    background-image: url(./images/p4-s3-img.jpg);
    background-repeat: no-repeat;
}

.p4-s4 {
    min-height: 540px;
    background-image: url(./images/p4-s4-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    position: relative;
    color: #fff;
}

.p4-s4 .bg-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.p4-s4 .title {
    margin-top: 60px;
    font-weight: 400;
}

.p4-s4 .em {
    font-weight: 600;
}

.p4-s4 ul {
    margin: 0 40px;
    padding: 0;
    list-style: none;
}

.p4-s4 li {
    background-color: #fff;
    border-radius: 5px;
    height: 120px;
    margin-bottom: 20px;
    padding: 16px;
    font-size: 16px;
}

.p4-s4 li {
    margin-left: 12px;
}

.p4-s4 li .h5 {
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 8px;
}

.p4-s4 li .desc {
    line-height: 1.2em;
    font-size: 14px;
    color: #333333;
}

.p4-s5 {
    padding: 50px;
    height: 1000px;
}

.p4-s5 .product-figure {
    text-align: center;
    margin: 40px;
}

.p4-s5 .product-figure .img-box {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-image: url(./images/p4-s5-figure-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
}


.p4-s5 ul {
    margin: 20px;
    list-style: none;
    margin-top: 40px;
}

.p4-s5 li {
    height: 180px;
}

.p4-s5 li .h5 {
    color: var(--primary-color);
    display: inline-block;
    margin-bottom: 16px;
}

.p4-s5 ul.item li {
    margin-left: 10px;
    margin-bottom: 0;
}

.p4-s5 .desc {
    font-size: 14px;
    line-height: 1.375em;
}

.p4-s6 {
    min-height: 800px;
    background-color: #f9f9f9;
    padding-top: 40px;
}

.price-table {
    padding-top: 20px;
    padding-left: 50px;
}

.price-table .solution {
    color: #000;
    font-size: 20px;
}

.price-table .price .num {
    font-size: 1.5em;
}

.price-table .item-2 .solution {
    color: #fff;
}

.price-table .column {
    max-width: 800px;
    margin: 50px auto 0 auto;
}

.price-table .item {
    height: 500px;
    max-width: 250px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    padding-top: 40px;
}

.price-table .item-2 {
    position: relative;
    /* transform-origin: 50% 50%; */
    z-index: 5;
}

.price-table .item-1 {
    /* margin-left: -30px; */
    flex: 0 1 40%;
}

.price-table .item-2 {
    flex: 0 1 30%;
    border: 1px solid red;
    color: #fff;
}

.price-table .item-3 {
    /* margin-right: -30px; */
    padding-left: 30px;
    flex: 0 1 40%;
}

.price-table .item-2 .emphasis-layout {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: 10;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    padding-top: 40px;
}

.price-table .item.item-1:hover,
.price-table .item.item-3:hover {
    margin-top: -5px;
    transition: 0.5s ease;
}

.price-table .item-2 .emphasis-layout:hover {
    top: -25px;
    bottom: -15px;
    transition: 0.5s ease;
}

.price-table .item-2 .emphasis-layout .emphasis-shift {
    height: 20px;
}

.price-table .item-2 .desc {
    padding-left: 50px;
    padding-right: 50px;
}

.price-table .desc {
    margin-top: 30px;
    margin-bottom: 30px;
}

.price-table .desc-item {
    height: 40px;
    font-size: 0.75em;
    line-height: 36px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
}

.price-table .desc-item.empty {
    border-bottom: 1px solid transparent;
}

.price-table .download-wrapper .download {
    width: 140px;
    height: 50px;
}

.price-table .item-2 .download {
    width: 140px;
    height: 50px;
    color: var(--primary-color);
    background-color: #fff;
}

.price-table .item-2 .download-wrapper .download::before {
    content: url(./images/p4-s1-download_invert.svg);
}

.price-table .tips {
    font-size: 14px;
    color: #ccc;
}

.price-table .item-2 .tips {
    color: #ececec;
}