.price-table .item-2.page {
    font-family: 'Noto Sans TC';
}

.page-template-portfolio .title {
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}

.page-template-portfolio .title-sub {
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
}

.bg-overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.txt-content {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.download-wrapper {}

.download-wrapper .download-box {
    display: inline-block;
    width: 220px;
    height: 60px;
    left: calc(50% - 110px);
    text-align: center;
}

.download-wrapper .download {
    display: inline-block;
    width: 180px;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: #fff;
}

.download-wrapper .download::before {
    content: url(./images/p4-s1-download.svg);
    font-size: 8px;
    position: relative;
    top: 8px;
    margin-right: 8px;
}

.product-figure {
    text-align: center;
    margin: 40px;
}

.column {
    display: flex;
    flex-wrap: wrap;
}

.column-3 .item {
    flex: 0 1 33%;
    padding: 16px;
}


.column-3 .item .icon-box {
    text-align: center;
    margin-bottom: 16px;
}

.column-3 .item .icon {
    display: inline-block;
    width: 64px;
}

.column-3 .item .item-name {
    color: #000;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.column-3 .item .desc {
    padding: 8px 20px;
    text-align: center;
}

.column-2 .item-1 {
    flex: 0 1 50%;
}

.column-2 .item-2 {
    flex: 0 1 50%;
}


.column-2-6_4 .item-1 {
    flex: 0 1 60%;
}

.column-2-6_4 .item-2 {
    flex: 0 1 40%;
}

ul.two-col {
    columns: 2;
    margin: 0 10px;
}

ul.three-col {
    columns: 3;
}

ul.four-col {
    columns: 4;
}


ul.item {
    list-style: none;
    margin: 0;
}

ul.item.flex {
    display: flex;
    /* flex-wrap: wrap; */
    /* columns: unset; */
}

ul.item.flex.two-col {
    flex: 0 1 50%;
}

ul.item.flex.three-col {
    flex: 0 1 33%;
}

ul.item.flex.four-col li {
    flex: 0 1 25%;
}

ul.item>li {
    margin-bottom: 1.4em;
}

ul.item.theme-icon-red>li {
    max-width: 240px;
    text-align: center;
    border-radius: 16px;
    padding: 0 16px;
    background-color: var(--primary-color);
    color: #fff;
}

ul.item.theme-icon-red>li::before {
    content: none;
}

ul.item>li .item-name {
    display: inline-block;
}

ul.item.theme-red>li .item-name {
    display: inline-block;
    color: var(--primary-color);
}

ul.item.theme-red>li.empty::before,
ul.item>li.empty::before {
    /* hide item icon */
    content: none;
}


ul.item>li::before {
    content: url('./images/li_arrow_black.svg');
    margin-right: 8px;

}

ul.item>li .desc {
    padding: 16px 0;
    line-height: 1.2em;
    font-size: 16px;
    color: #333333;
}

ul.item.theme-red>li::before {
    content: url('./images/li_arrow_red.svg');
    margin-right: 8px;

}

.items.flex {
    display: flex;
    flex-wrap: wrap;
}

.items.flex.two-col .item {
    flex: 0 1 50%;
}

.items.flex.three-col .item {
    flex: 0 1 33%;
}

.items.flex.four-col .item {
    flex: 0 1 25%;
}

.items.flex .item {
    margin-bottom: 20px;
}

.items.theme-icon-red .item .icon-btn {
    display: inline-block;
    width: 250px;
    text-align: center;
    border-radius: 16px;
    padding: 0 16px;
    margin: 0 16px;
    background-color: var(--primary-color);
    color: #fff;
}

.section {
    margin-top: 60px;
}

.section:last-child {
    margin-bottom: 80px;
}

.section .section-title-en,
.section .section-title {
    padding-left: 40px;
}

.section .section-title-en {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 24px;
    color: #999999;
}

.section .section-title {
    font-size: 36px;
    color: var(--black);
    margin-bottom: 50px;
}

.align-center {
    text-align: center;
}

/* 稅務會計 */

.p1-s1 {
    padding: 50px 0 12px 0;
}

.p1-s1 h1 {
    font-size: 36px;
    text-align: center;
}

.p1-s2 {
    text-align: center;
}

.p1-s3 {
    /* border: 1px solid red; */
}

.p1-s3 ul.item>li {
    height: 220px;
    padding: 8px 16px;
}

.p1-s3 ul.item>li .desc {
    padding: 16px 36px 0 0;
}

.p1-s3 ol {
    margin: 0;
}



.p1-s4 .title,
.p1-s5 .title {
    text-align: left;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 30px;
    color: #333333;

}


.p1-s4,
.p1-s5 {
    margin-bottom: 30px;
}

/* 審計簽證 */

.p2-s3 li {
    height: 160px;
}

.p2-s4 {
    margin-bottom: 100px;
}

.p3-s1 {}

.p3-s3 li {
    height: 140px;
}

/* 我算算產品  */
.p4-s1 {
    position: relative;
    height: 480px;
    background-image: url(./images/p4-s1-bg.jpg);
    background-size: cover !important;
    background-position: center;
    text-align: center;
    color: #ffffff;
}

.p4-s1 .logo-wrapper {
    margin-top: 80px;
    text-align: center;
}

.p4-s1 .logo-box {
    height: 53px;
    background-image: url(./images/p4-s1-logo.png);
    background-repeat: no-repeat;
    background-position: center;

}

.p4-s1 .slogan {
    margin-top: 20px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: normal;
}

.p4-s1 .slogan-sub {
    font-size: 22px;
}

.p4-s1 .download-wrapper {
    margin-top: 70px;
    text-align: center;
}

.p4-s1 .download-box {
    display: inline-block;
    width: 220px;
    height: 60px;
    left: calc(50% - 110px);
    text-align: center;
}

.p4-s1 .download {
    display: inline-block;
    width: 180px;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: #fff;
}

.p4-s1 .download::before {
    content: url(./images/p4-s1-download.svg);
    font-size: 8px;
    position: relative;
    top: 8px;
    margin-right: 8px;
}

.p4-s1 .download a {
    color: #fff;
}

.p4-s1 .download a:hover {
    color: #fff;
}


/* 我算算產品 p4 section 2 */
.p4-s2 {
    height: 500px;
    padding: 60px;
    background-color: #f9f9f9;

}

.p4-s2 .title {
    color: #000;
}

.p4-s2 .title-sub {
    color: #333333;
}


.p4-s2 .item-1 .icon::after {
    content: url(./images/p4-s2-item1-icon.svg);
}

.p4-s2 .item-2 .icon::after {
    content: url(./images/p4-s2-item2-icon.svg);
}

.p4-s2 .item-3 .icon::after {
    content: url(./images/p4-s2-item3-icon.svg);
}

.p4-s3 {
    padding: 60px;
}

.p4-s3 .title {
    font-weight: 400;
}

.p4-s3 .title .em {
    font-weight: 600;
}

.p4-s3 .title-sub {
    padding: 0 60px;
    text-align: left;
}

.p4-s3 .item-1 {
    padding: 20px;
}

.p4-s3 .item-2 .img-box {
    width: 100%;
    min-height: 450px;
}

.p4-s3 .p4-s3-img {
    min-width: 100%;
    min-height: 400px;
    background-image: url(./images/p4-s3-img.jpg);
    background-repeat: no-repeat;
}

.p4-s4 {
    min-height: 540px;
    background-image: url(./images/p4-s4-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    position: relative;
    color: #fff;
}

.p4-s4 .bg-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.p4-s4 .title {
    margin-top: 60px;
    font-weight: 400;
}

.p4-s4 .em {
    font-weight: 600;
}

.p4-s4 ul {
    margin: 0 40px;
    padding: 0;
    list-style: none;
}

.p4-s4 li {
    background-color: #fff;
    border-radius: 5px;
    height: 120px;
    margin-bottom: 20px;
    padding: 16px;
    font-size: 16px;
}

.p4-s4 li {
    margin-left: 12px;
}

.p4-s4 li .h5 {
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 8px;
}

.p4-s4 li .desc {
    line-height: 1.2em;
    font-size: 14px;
    color: #333333;
}

.p4-s5 {
    padding: 50px;
    height: 1000px;
}



.p4-s5 .product-figure .img-box {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-image: url(./images/p4-s5-figure-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
}


.p4-s5 ul {
    margin: 20px;
    list-style: none;
    margin-top: 40px;
}

.p4-s5 li {
    height: 180px;
}

.p4-s5 li .h5 {
    color: var(--primary-color);
    display: inline-block;
    margin-bottom: 16px;
}

.p4-s5 ul.item li {
    margin-left: 10px;
    margin-bottom: 0;
}

.p4-s5 .desc {
    font-size: 14px;
    line-height: 1.375em;
}

.p4-s6 {
    min-height: 800px;
    background-color: #f9f9f9;
    padding-top: 40px;
}

.price-table {
    padding-top: 20px;
    padding-left: 50px;
}

.price-table .solution {
    color: #000;
    font-size: 20px;
}

.price-table .price .num {
    font-size: 1.5em;
}

.price-table .item-2 .solution {
    color: #fff;
}

.price-table .column {
    max-width: 800px;
    margin: 50px auto 0 auto;
}

.price-table .item {
    height: 500px;
    max-width: 250px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    padding-top: 40px;
}

.price-table .item-2 {
    position: relative;
    /* transform-origin: 50% 50%; */
    z-index: 5;
}

.price-table .item-1 {
    /* margin-left: -30px; */
    flex: 0 1 40%;
}

.price-table .item-2 {
    flex: 0 1 30%;
    border: 1px solid red;
    color: #fff;
}

.price-table .item-3 {
    /* margin-right: -30px; */
    padding-left: 30px;
    flex: 0 1 40%;
}

.price-table .item-2 .emphasis-layout {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: 10;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    padding-top: 40px;
}

.price-table .item.item-1:hover,
.price-table .item.item-3:hover {
    margin-top: -5px;
    transition: 0.5s ease;
}

.price-table .item-2 .emphasis-layout:hover {
    top: -25px;
    bottom: -15px;
    transition: 0.5s ease;
}

.price-table .item-2 .emphasis-layout .emphasis-shift {
    height: 20px;
}

.price-table .item-2 .desc {
    padding-left: 50px;
    padding-right: 50px;
}

.price-table .desc {
    margin-top: 30px;
    margin-bottom: 30px;
}

.price-table .desc-item {
    height: 40px;
    font-size: 0.75em;
    line-height: 36px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
}

.price-table .desc-item.empty {
    border-bottom: 1px solid transparent;
}

.price-table .download-wrapper .download {
    width: 140px;
    height: 50px;
}

.price-table .item-2 .download {
    width: 140px;
    height: 50px;
    color: var(--primary-color);
    background-color: #fff;
}

.price-table .item-2 .download-wrapper .download::before {
    content: url(./images/p4-s1-download_invert.svg);
}

.price-table .tips {
    font-size: 14px;
    color: #ccc;
}

.price-table .item-2 .tips {
    color: #ececec;
}

/* 服務流程 */
.serviceflow-s1 {
    position: relative;
    height: 360px;
    width: 100%;
    background-image: url(./images/serviceflow_section_1_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #fff;
}

.serviceflow-s1 .title {
    margin-top: 160px;
}

.step {
    text-align: center;
    color: #999999;
}

.serviceflow,
.serviceflow,
.serviceflow {
    margin-bottom: 80px;
}



.serviceflow .icon-box {
    width: 100%;
    text-align: center;
}

.serviceflow .icon {
    display: inline-block;
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.serviceflow .item .item-name {
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.serviceflow .item .desc {
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    padding: 24px 30px;
    text-align: left;
}

.serviceflow-s3 .item-1 .icon {
    background-image: url(./images/service-step1-contact.png.svg);
}

.serviceflow-s3 .item-2 .icon {
    background-image: url(./images/service-step1-demo.png.svg);
}

.serviceflow-s3 .item-3 .icon {
    background-image: url(./images/service-step1-plan.png.svg);
}

.serviceflow-s4 .item-1 .icon {
    background-image: url(./images/service-step2-contract.png.svg);
}

.serviceflow-s4 .item-2 .icon {
    background-image: url(./images/service-step2-install.png.svg);
}

.serviceflow-s5 .item-1 .icon {
    background-image: url(./images/service-step3-contact.png.svg);
}

.serviceflow-s5 .item-2 .icon {
    background-image: url(./images/service-step3-demo.png.svg);
}

.serviceflow-s5 .item-3 .icon {
    background-image: url(./images/service-step3-upgrade.png.svg);
}

.serviceflow-s5 .item .desc {
    text-align: center;
}

.serviceflow-s2 {
    padding: 40 80px;
}

.serviceflow-s2 .title,
.serviceflow-s3 .title,
.serviceflow-s4 .title,
.serviceflow-s5 .title {
    color: #000;
}

.serviceflow.qa {
    background-color: #f9f9f9;
    padding: 40px;
    margin-bottom: 0;
}

.fake-infographic {
    height: 300px;
    line-height: 280px;
    text-align: center;
    margin: 60px 120px;
    background-color: #f9f9f9;
}

.fake-text {
    color: #999999;
}

.questions {
    width: 800px;
    margin: 20px auto;
}

.questions .question {
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.questions .question .desc {
    padding: 20px 30px;
    color: #000;
}

.questions .question .ans {
    padding: 16px 60px;
    background-color: #f9f9f9;
}

.questions .question .ans.hide {
    display: none;
}

.questions .question .desc:before {
    content: "Q";
    padding-left: 8px;
    padding-bottom: 2px;
    margin-right: 24px;
    display: inline-block;
    width: 36px;
    font-size: 24px;
    line-height: 36px;
    border-radius: 18px;
    background-color: var(--primary-color);
    color: #fff;
}



.questions .question .desc:after {
    content: "\f140";
    font-family: dashicons;
    padding-right: 8px;
    display: inline-block;
    width: 20px;
    font-size: 24px;
    color: #ccc;
    position: absolute;
    right: 20px;
}

.questions .question.fold .desc:after {
    content: "\f142";
}

.proven .title-en {
    text-align: left;
    padding: 0 24px;
    margin-bottom: -8px;
}

.proven .title {
    text-align: left;
    padding: 0 20px;
}

.proven-s1 {
    position: relative;
    height: 360px;
    width: 100%;
    background-image: url(./images/proven_section_1_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #fff;
}

.proven-s1 .title {
    margin-top: 160px;

    text-align: center;
}

.proven.section {
    padding: 30px 80px;
}

.proven.section .title {
    margin-bottom: 20px;
}

.proven.section .item {
    text-align: center;
}

.proven.section .item .name {
    margin: 0 auto;
    width: 87%;
    height: 75px;
    line-height: 70px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #cccccc;
    background-color: #ffffff;
}

.proven-s4 {
    position: relative;
    height: 400px;
    width: 100%;
    background-image: url(./images/our-clients.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;

}

.proven-s4 h2 {
    color: #fff;
}

.proven-s4.section:last-child {
    margin-bottom: 0;
}